umeshinamdar(node red file).json
[{"id":"1281a2c2.7cddad","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9ab68c8.0d1278","type":"ui_form","z":"1281a2c2.7cddad","name":"","label":"","group":"edc9d8b7.e69638","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":140,"y":140,"wires":[["8f3ae518.be90b8","685fb47b.32c8fc"]]},{"id":"8f3ae518.be90b8","type":"debug","z":"1281a2c2.7cddad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"685fb47b.32c8fc","type":"function","z":"1281a2c2.7cddad","name":"","func":" msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["b1ea7619.36ba48"]]},{"id":"b1ea7619.36ba48","type":"cloudant out","z":"1281a2c2.7cddad","name":"cloudant","cloudant":"","database":"sample","service":"node-red-fzyhx-2020--cloudant-1597403632179-58453","payonly":true,"operation":"insert","x":560,"y":160,"wires":[]},{"id":"ca2c1d00.85881","type":"ui_form","z":"1281a2c2.7cddad","name":"","label":"","group":"23988446.0b7e3c","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":320,"wires":[["f39face4.aaff8"]]},{"id":"f39face4.aaff8","type":"function","z":"1281a2c2.7cddad","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":320,"wires":[["d807714.8f2139"]]},{"id":"d807714.8f2139","type":"function","z":"1281a2c2.7cddad","name":"","func":"var emailid=global.get(\"emailid\");\n\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":320,"wires":[["c92bbc4e.323ac"]]},{"id":"c92bbc4e.323ac","type":"cloudant in","z":"1281a2c2.7cddad","name":"","cloudant":"","database":"sample","service":"node-red-fzyhx-2020--cloudant-1597403632179-58453","search":"_idx_","design":"user","index":"user","x":650,"y":320,"wires":[["68bd9357.547e1c"]]},{"id":"68bd9357.547e1c","type":"function","z":"1281a2c2.7cddad","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successfully';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":320,"wires":[["4d07cea6.c6283"]]},{"id":"4d07cea6.c6283","type":"ui_text","z":"1281a2c2.7cddad","group":"23988446.0b7e3c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":680,"y":400,"wires":[]},{"id":"d714faee.e7a408","type":"ui_form","z":"1281a2c2.7cddad","name":"","label":"","group":"c74288ad.200938","order":0,"width":0,"height":0,"options":[{"label":"user input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":560,"wires":[["3903b6dd.63392a"]]},{"id":"3903b6dd.63392a","type":"function","z":"1281a2c2.7cddad","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":560,"wires":[["ce38642.4de0398"]]},{"id":"ce38642.4de0398","type":"watson-conversation-v1","z":"1281a2c2.7cddad","name":"","workspaceid":"a6855cf3-0c4b-4711-bae6-dafc5fa95e42","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a166f5b5-96ad-4739-8b91-15c018bff287","timeout":"","optout-learning":false,"x":510,"y":560,"wires":[["73413959.137d48","4fa70f15.7889a"]]},{"id":"73413959.137d48","type":"debug","z":"1281a2c2.7cddad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":560,"wires":[]},{"id":"4fa70f15.7889a","type":"function","z":"1281a2c2.7cddad","name":"","func":"msg.payload=msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":660,"wires":[["6b42a715.5409f8","67d4b837.5d8818"]]},{"id":"6b42a715.5409f8","type":"ui_text","z":"1281a2c2.7cddad","group":"c74288ad.200938","order":1,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":900,"y":660,"wires":[]},{"id":"67d4b837.5d8818","type":"ui_audio","z":"1281a2c2.7cddad","name":"","group":"c74288ad.200938","voice":"","always":"","x":910,"y":720,"wires":[]},{"id":"edc9d8b7.e69638","type":"ui_group","z":"","name":"Reg form","tab":"7ac75ab8.1bdb44","order":1,"disp":true,"width":"6","collapse":false},{"id":"23988446.0b7e3c","type":"ui_group","z":"","name":"Login Page","tab":"314e9968.8b2e86","order":1,"disp":true,"width":"6","collapse":false},{"id":"c74288ad.200938","type":"ui_group","z":"","name":"Bot","tab":"db968d87.03c88","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ac75ab8.1bdb44","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"314e9968.8b2e86","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"db968d87.03c88","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false}]